@import "../theme/theme.scss";
@import "../fonts/fonts.scss";

/* hero-section */
// section#heroSection{
//     background-color: #f1f1f1;
// }
section.heroSection * {
  z-index: 9999;
}
.contentWrapper {
  width: 100%;
}
.textBoxWrapper {
  height: 100%;
  p {
    margin-bottom: 25px;
    color: $Gris-azulado;
  }
}
.heading {
  margin-bottom: 24px;
}
.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
section.mainBody {
  transform: translateY(-32px);
}

section.mainBody {
  padding-top: 93px;

  .sperater {
    border: 1px solid $gray-dark; 
  }
}

section.mainBody div {
  z-index: -1;
}
.secionHeading {
  flex-wrap: wrap;
}
.text-para-box {
  margin: 32px 0px;
  span {
    letter-spacing: 0.15em;
    font-family: "Poppins";
  }
}


@media(max-width:1024px){
 .heroSection{
   .imageBox{
     img{
       height: 600px;
     }
   }
 }
}